.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
packrat/lib*/
./*.pdf
lecture-notes/*.pdf
lecture-notes/*.html
in-class-activities/*.pdf
in-class-activities/*.html
.Rprofile
psy-511-reproducible-research.Rproj
